<button
  type={{@type}}
  class='bg-blue-500 hover:bg-blue-400 text-white font-bold py-4 px-6 border-b-4 border-blue-700 hover:border-blue-500 rounded {{@class}}'
  ...attributes
>
  {{yield}}
</button>